@import url('https://fonts.googleapis.com/css2?family=Roboto:wght@100&display=swap');

/* Här är styling för hela sidan */
body {
  font-family: Helvetica, sans-serif;
  /* font-family: 'Roboto', sans-serif; */
  color: #222222;
  min-width: fit-content;
  margin: 0;
}

/* Här är styling som gäller för alla rubriker och texter */

h1 {
  font-size: 65px;
  padding: 150px 0;
  margin: 0;
}

h2 {
  font-size: 40px;
  font-weight: 200;
  margin-bottom: 50px;
}

h3 {
  font-size: 30px;
  font-weight: 200;
}

h4 {
  font-size: 18px;
  text-transform: uppercase;
}

p {
  font-size: 20px;
  font-weight: 200;
  color: #222222;
}

a {
  color:#ff726c;
  text-decoration: none;
}

a:hover {
  text-decoration: underline;
}

/* Här finns all styling för buttons och input */

.button {
  background-color: #ff726c;
  border: 1px solid #ff726c;
  color: #ffffff;
  border-radius: 40px;
  padding: 15px 25px;
  margin: 10px;
}

.button:hover {
  background-color: white;
  color: #ff726c;
}

.input {
  padding: 15px 25px;
  border: 1px solid #222222;
  border-radius: 40px;
}

/* Här är styling för headern */

.header {
  background-image: url(./images/dog.png);
  background-size: cover;
  height: 750px;
  color: #222222;
  text-align: center;
}

/* Här är styling för ikonsektionen */

.about {
  background-color: #f9f9f9;
}

.icons-container {
  padding: 50px 0;
  text-align: center;
}

.icons-wrapper {
  display: flex;
  flex-direction: row;
  justify-content: center;
}

.icon {
  margin: 40px;
}

.icon img {
  width: 100px;
}

.heart {
  animation: rotate 0.5s;
  animation-delay: 3s;
  animation-iteration-count: 3;
}

@keyframes beat {
  to {
    width: 130px;
  }
}

@keyframes rotate {
  25% {
    transform: rotate(90deg); 
  }
  50% {
    transform: rotate(180deg); 
  }
  75% {
    transform: rotate(270deg); 
  }
  100% {
    transform: rotate(360deg); 
  }
}

/* Här är all styling för boxsektionen */

.places {
  margin: 50px;
}

.places-container {
  width: 100%;
  display: flex;
  flex-flow: row wrap;
}

.place {
	border: solid #cccccc 0.5px;
	margin: 10px;
	padding: 30px;
  width: 25%;
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  overflow: hidden;
}

.place img {
  width: 100%;
}

/* Här är all styling för dogsectionen  */
.dogs {
  margin: 50px;
}

.breeds {
  width: 200px;
  margin: 0 20px;
}

/* Här är all styling för footern */

footer {
  background-color: #282626;
  padding: 150px 300px;
}

/* Här är alla media queries */
@media only screen and (max-width: 600px) {
  .header {
    background-position: center;
  }

  .icons-wrapper {
    flex-direction: column;
  }

  .places-container {
    flex-direction: column;
  }
  
  .place {
    width: 100%;
    box-sizing: border-box;
  }
}
